body{
	font-family: Tahoma;
	font-size:13px;
	width:1000px;
	margin:0px auto;
	color: red;

}


#Header{
	background-color:lightgray;
	height:20px;
	text-align: center;
	padding:10px;
	border: 1px solid #dad4d4;
	margin-bottom: 4px;
}
#Menu{
	background-color:lightgray;
	height:20px;
	text-align: center;
	padding : 10px;
	border: 1px solid #dad4d4;
	margin-bottom: 4px;
}
#main #left {
	width:250px;
	background-color:lightgray;
	float:left;
	height: 300px;
	text-align: center;
	border: 1px solid #dad4d4;
	margin-bottom: 4px;
/*	border: solid 1px lightgray;
*/
}
#main #content{
	width:470px;
	background:#fafafa;
	float: left;
	height:300px;
	text-align: center;
	/*border: 1px solid #dad4d4;*/
	margin-bottom: 4px;
	/*border: solid 1px lightgray;
*/
}

#main #right{
	width:250px;
	background-color:lightgray;
	float: left;
	height:300px;
	text-align: center;
	/*border: 1px solid #dad4d4;*/
	margin-bottom: 4px;
/*	border: solid 1px lightgray;
*/	
}
#footer{

	background-color:lightgray;
	height:20px;
	clear:left;
	text-align: center;
	padding: 10px;
	border: 1px solid #dad4d4;
	margin-bottom: 7px;
}